In [53]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('precision', 2)

In [54]:
df = pd.read_csv('games.csv')

In [55]:
df.head()

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.50e+12,1.50e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.50e+12,1.50e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4
2,mIICvQHh,True,1.50e+12,1.50e+12,61,mate,white,5+10,ischia,1496,a-00,1500,e4 e5 d3 d6 Be3 c6 Be2 b5 Nd2 a5 a4 c5 axb5 Nc...,C20,King's Pawn Game: Leonardis Variation,3
3,kWKvrqYL,True,1.50e+12,1.50e+12,61,mate,white,20+0,daniamurashov,1439,adivanov2009,1454,d4 d5 Nf3 Bf5 Nc3 Nf6 Bf4 Ng4 e3 Nc6 Be2 Qd7 O...,D02,Queen's Pawn Game: Zukertort Variation,3
4,9tXo1AUZ,True,1.50e+12,1.50e+12,95,mate,white,30+3,nik221107,1523,adivanov2009,1469,e4 e5 Nf3 d6 d4 Nc6 d5 Nb4 a3 Na6 Nc3 Be7 b4 N...,C41,Philidor Defense,5


#What percent of games did white and black win

In [103]:
whitewin = list(df['winner']).count('white') * 100 / len(df)
blackwin = list(df['winner']).count('black') * 100 / len(df)
draw = list(df['winner']).count('draw') * 100 / len(df)
print ('white wins ' + str(whitewin) + ' percent of games, black wins ' + str(blackwin) + ' percent of games, and ' + str(draw) + ' percent of games are draws')

white wins 49.86040482600459 percent of games, black wins 45.403330342008175 percent of games, and 4.736264831987237 percent of games are draws

# what is the average amount of turns for each victory status

In [98]:
avgvictor = df
avgvictor = avgvictor[['turns','victory_status']]
turns = list(avgvictor['turns'])
victory_stats = list(avgvictor['victory_status'])
outoftime = 0
draw = 0
resign = 0 
mate = 0

In [100]:
for x in range (0, len(victory_stats)):
  if victory_stats[x] == 'mate':
    mate += turns[x]
  elif victory_stats[x] == 'resign':
    resign += turns[x] 
  elif victory_stats[x] == 'draw':
    draw += turns[x]
  else: 
    outoftime += turns[x]

In [101]:
print (str(mate/(victory_stats.count("mate"))) + ' turns before checkmating')
print (str(resign/(victory_stats.count("resign"))) + ' turns before resigning')
print (str(draw/(victory_stats.count("draw"))) + ' turns before drawing')
print (str(outoftime/(victory_stats.count("outoftime"))) + ' turns before running out of time')

65.41501976284584 turns before checkmating
53.91253251996053 turns before resigning
83.78145695364239 turns before drawing
72.74285714285715 turns before running out of time

# Most common opening move

In [60]:
openingspossibilities = list(df['opening_name'])

In [41]:
full_list = {}

In [42]:
for i in openingspossibilities:
	if i not in full_list.keys():
		full_list[i] = 0
	full_list[i] += 1

In [44]:
d = max(list(full_list.values()))

In [45]:
for opening, count in full_list.items():
	if count == d:
		print('the most common opening is ' + opening + '!')
print ("it has been played " + str(d) + " times")

the most common opening is Van't Kruijs Opening!
it has been played 368 times

# Unique number of players

In [ ]:
x = len(df['id'].unique())

19113

In [ ]:
print ("there are " + str(x) + " distinct players in the dataset")

there are 19113 distinct players in the dataset

# Conclusions that can be made

In [104]:
wrat = list(df['white_rating'])
brat = list(df['black_rating'])
wrating = 0
brating = 0

In [105]:
for x in range (0,len(wrat)):
  if wrat[x] > brat[x]:
    wrating += 1
  if wrat[x] < brat[x]:
    brating += 1
  
print ("White's rating is higher " + str(wrating) + ' times and blacks rating is higher ' + str(brating) + ' times' )
#this shows that more often than not the player playing on the white side has a higher rating. just a cool thing that was found

White's rating is higher 10184 times and blacks rating is higher 9671 times